extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new") New message
  ul
  each message in messages
    li
      p Text: #{message.text} 
      p Author: #{message.user}
      p Time added: #{message.added}